#search{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform:  translateY(-50%);
    -ms-transform:  translateY(-50%);
    -o-transform:  translateY(-50%);
    transform:  translateY(-50%);
}

#aboutUs{
    /*position: absolute;*/
    margin-top: 30%;
    top: 30%;
}

#submitData{
    margin-top: 20%;
}

#list{
    margin-top: 20%;
}

#detail{
    margin-top: 20%;
}

#bottom{
    margin-bottom: 15%;
}

#tp-weather-widget{
    margin-top: 10%;
}